{% comment %} <div style="position: fixed; bottom: 0; right: 0">
    {{ "thumbs-up.png" | asset_url | img_tag }}
</div> {% endcomment %}

<script
      src="https://chatbot.tutorzai.com/chat.js?id=11eee4de-381b-7420-8508-557bbd2ee9fb"
      defer
    ></script>

{% schema %}
  {
    "name": "App Embed",
    "target": "body",
    "settings": []
  }
{% endschema %}
